{{!-- 
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 col-xl-3">
                <!-- Bootstrap 5 card box -->
                <div class="card-box">
                    <div class="card-thumbnail">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.97O2jVbG90cc2kEatsoJmQHaHa%26pid%3DApi&f=1" class="img-fluid" alt="">
                    </div>
                    <h3><a href="#" class="mt-2 text-danger">What is Lorem Ipsum?</a></h3>
                    <p class="text-secondary">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
                    <a href="#" class="btn btn-sm btn-danger float-right">Read more >></a>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3">
                <!-- Bootstrap 5 card box -->
                <div class="card-box">
                    <div class="card-thumbnail">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.ushPQDm2Y4nbPUorqKNB4wHaEL%26pid%3DApi&f=1" class="img-fluid" alt="">
                    </div>
                    <h3><a href="#" class="mt-2 text-danger">Why do we use it?</a></h3>
                    <p class="text-secondary">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
                    <a href="#" class="btn btn-sm btn-danger float-right">Read more >></a>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3">
                <!-- Bootstrap 5 card box -->
                <div class="card-box">
                    <div class="card-thumbnail">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.KNMX45slctq4FPoWa5ReKgHaGa%26pid%3DApi&f=1" class="img-fluid" alt="">
                    </div>
                    <h3><a href="#" class="mt-2 text-danger">Where does it come from?</a></h3>
                    <p class="text-secondary">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
                    <a href="#" class="btn btn-sm btn-danger float-right">Read more >></a>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3">
                <!-- Bootstrap 5 card box -->
                <div class="card-box">
                    <div class="card-thumbnail">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.N9mBXId5rcTlL1x2z6LvCAHaGY%26pid%3DApi&f=1" class="img-fluid" alt="">
                    </div>
                    <h3><a href="#" class="mt-2 text-danger">Where can I get some?</a></h3>
                    <p class="text-secondary">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
                    <a href="#" class="btn btn-sm btn-danger float-right">Read more >></a>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3">
                <!-- Bootstrap 5 card box -->
                <div class="card-box">
                    <div class="card-thumbnail">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.LNwcFT4NhIVXrsRoAgT2agHaD4%26pid%3DApi&f=1" class="img-fluid" alt="">
                    </div>
                    <h3><a href="#" class="mt-2 text-danger">Standard Lorem Ipsum passage</a></h3>
                    <p class="text-secondary">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
                    <a href="#" class="btn btn-sm btn-danger float-right">Read more >></a>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3">
                <!-- Bootstrap 5 card box -->
                <div class="card-box">
                    <div class="card-thumbnail">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.FZVPV2EOAmGVhtvnOFFvhAHaEK%26pid%3DApi&f=1" class="img-fluid" alt="">
                    </div>
                    <h3><a href="#" class="mt-2 text-danger">What is Lorem Ipsum?</a></h3>
                    <p class="text-secondary">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</p>
                    <a href="#" class="btn btn-sm btn-danger float-right">Read more >></a>
                </div>
            </div> --}}
        {{!-- </div>
    </div> --}}
    <div class="container">
    {{!-- <div class="row"> --}}
    <div class="col-md-6">
    <div class="card-box1">
        <p class="name">{{card.cardName}}</p>
        <img class="card" src="{{card.cardImage}}">
        <p class="crdlevel">{{card.cardLevel}}</p>
        <p class="crddescription">{{card.cardDescription}}</p>
        <p class="crdpower">{{card.cardPower}}</p>
        <p class="crdtags">{{card.tags}}</p>                
      </div>
      </div>
      </div>
      {{!-- </div> --}}