<div class="col-md-4 col-lg 3 col-xl-2">
    <div class="card-box card">
        <div class="card-thumbnail">
            <img src={{card.cardImage}} class="img-fluid crdimage" alt="Card Image">
        </div>
        <h3 class="name">{{card.cardName}}</h3>

        {{#if card.selected}}
        <p class="btn btn-success btn-sm">Selected</p>
        {{else}}
        <a href="/select/{{card._id}}" class="btn btn-primary btn-sm">Select</a>
        {{/if}}

        <p class="crddescription">Description: {{card.cardDescription}}</p>
        <p class="crdlevel">Level: {{card.cardLevel}}</p>
        <p class="crdpower">Power: {{card.cardPower}}</p>
        <p class="crdtags">Tags: 
            {{#each card.tags}}
                <a href="/search?search={{this}}">{{this}}</a>
            {{/each}}</p>
        <p class="crdratings">Ratings: {{card.ratings}}</p>
    </div>
</div>