<div class="col-md-4 col-lg 3 col-xl-2">
    <div class="card-box card">
        <div class="card-thumbnail">
            <img src={{card.cardImage}} class="img-fluid crdimage" alt="Card Image">
        </div>
        <h3 class="name">{{card.cardName}}</h3>
        <p class="crddescription">Description: {{card.cardDescription}}</p>
        <p class="crdlevel">Level: {{card.cardLevel}}</p>
        <p class="crdpower">Power: {{card.cardPower}}</p>
        <p class="crdtags">Tags: {{card.tags}}</p>
        <p class="crdratings">Ratings: {{card.ratings}}</p>
    </div>
</div>