<main>
    {{#each messages}}
    <div class="container-fluid alert alert-warning notification">
        {{this}}
    </div>
    {{/each}}
    {{#if selected}}
        <h3>Selected is true.</h3>
    {{/if}}
    {{#if loggedIn}}
        <h3>Currently logged in as {{username}}.</h3>
    {{/if}}


    {{#if searched}}

    {{#if taggedCards}}
        <h3>Your search matched these tagged cards:</h3>
        <div class="container">
            <div class="row">
                {{#if loggedIn}}
                    {{#each taggedCards}}
                    {{> cardDivLoggedIn card = this}}
                    {{/each}}
                {{else}}
                    {{#each taggedCards}}
                    {{> cardDiv card = this}}
                    {{/each}}
                {{/if}}
            </div>
        </div>
    <hr>
    {{/if}}

    {{#if taggedDecks}}
        <h3>Your search matched these tagged decks:</h3>
        <div class="container">
            <div class="row">
                {{#each taggedDecks}}
                {{> deckDiv deck = this}}
                {{/each}}
            </div>
        </div>
    <hr>
    {{/if}}

    {{#if cards}}
    <h3>Your search matched these card names:</h3>
    <div class="container">
        <div class="row">
            {{#if loggedIn}}
                {{#each cards}}
                {{> cardDivLoggedIn card = this}}
                {{/each}}
            {{else}}
                {{#each cards}}
                {{> cardDiv card = this}}
                {{/each}}
            {{/if}}
        </div>
    </div>
    {{/if}}

    {{#if decks}}
    <hr>
    <h3>Your search matched these deck names:</h3>
    <div class="container">
        <div class="row">
            {{#each decks}}
            {{> deckDiv deck = this}}
            {{/each}}
        </div>
    </div>
    {{/if}}

    {{else}}

    {{#if cards}}
    <h3>Look at these awesome Cards!</h3>
    <div class="container">
        <div class="row">
            {{#if loggedIn}}
                {{#each cards}}
                {{> cardDivLoggedIn card = this}}
                {{/each}}
            {{else}}
                {{#each cards}}
                {{> cardDiv card = this}}
                {{/each}}
            {{/if}}
        </div>
    </div>
    {{/if}}

    {{#if decks}}
    <hr>
    <h3>Look at these awesome Decks!</h3>
    <div class="container">
        <div class="row">
            {{#each decks}}
            {{> deckDiv deck = this}}
            {{/each}}
        </div>
    </div>
    {{/if}}

    {{/if}}

</main>